@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [x-cloak] { display: none !important; }
  
    .no-spinner {
        -moz-appearance: textfield;
      }
  
      .no-spinner::-webkit-outer-spin-button,
      .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }

      /* Mary table */
      .table thead {
        @apply text-sm text-gray-500 bg-gray-100;
      }

      /* Scrolbar style */
      .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: #ddd rgb(16 185 129);
    }

    /* For WebKit browsers like Chrome and Safari */
    .custom-scrollbar::-webkit-scrollbar {
        width: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgb(16 185 129);
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background-color: #ddd;
    }
}